{% load static %}

<html>

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>

    <body>

        <div class="change-wrap">
            <div class="change-html">
                <div class="container">
                    <div class="main-btn">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                            </svg>
                            <span>Main</span>
                        </a>
                    </div>
                    <h1 class="change">CHANGE PASSWORD<span></span></h1>
                    <h3>Change password for user: {{ user.username }}</h3>
                    <form method="post" action="{% url 'change' uidb64=uidb64 token=token %}">
                        {% csrf_token %}
                        <div class="change-pass">
                            <div class="group">
                                <label for="password1" class="label">New password</label>
                                <input id="password1" type="password" name="password1" class="input">
                            </div>
                            <div class="group">
                                <label for="password2" class="label">Confirm new password</label>
                                <input id="password2" type="password" name="password2" class="input">
                            </div>
                            
                            <div class="change-btn">
                                <button id="btn_confirm" type="submit">CHANGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>